PORT=8080

DATABASE_URL="postgresql://{user}:{password}@{host}:{port}/{db}"

# Auth
JWT_SECRET=your-secret-key-here
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
