PORT=8080

DATABASE_URL="postgresql://{user}:{password}@{host}:{port}/{db}"

# AWS S3
AWS_REGION=ap-northeast-2
AWS_S3_BUCKET={bucket_name}
# 로컬 개발 시에만 필요 (EC2에서는 Instance Profile 자동 사용)
AWS_ACCESS_KEY_ID={access_key_id}
AWS_SECRET_ACCESS_KEY={secret_access_key}
